$decor-color: #E8C300;

$light-theme: #000;
$dark-theme: #fff;

$input-color: #E5E5E5;

$span-color: rgba(51, 51, 51, 0.5);

$heading: 'Dosis', sans-serif;
$caption: 'OpenSans', sans-serif;

$xxl: 1440px;
$xl: 1380px;
$lg: 1024px;
$md: 696px;
$sm: 425px;
$xs: 320PX;
