@font-face {
  font-family: 'icomoon';
  src: url("./icon/fonts/icomoon.eot?17byk0");
  src: url("./icon/fonts/icomoon.eot?17byk0#iefix") format("embedded-opentype"), url("./icon/fonts/icomoon.woff?17byk0") format("woff"), url("./icon/fonts/icomoon.ttf?17byk0") format("truetype"), url("./icon/fonts/icomoon.svg?17byk0#icommon") format("svg");
  font-weight: normal;
  font-style: normal;
  display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 20px;
}

@media (max-width: 1600px) {
  body {
    max-width: 1600px;
    font-size: 18px;
  }
}

@media (max-width: 1240px) {
  body {
    max-width: 1240px;
    font-size: 16px;
  }
}

@media (max-width: 1080px) {
  body {
    max-width: 1080px;
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  body {
    max-width: 992px;
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  body {
    max-width: 760px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  body {
    max-width: 480px;
    font-size: 12px;
  }
}

.container {
  width: 100%;
  margin: 0;
  min-height: 100vh;
}

@media (max-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

@media (max-width: 1240px) {
  .container {
    max-width: 1240px;
  }
}

@media (max-width: 1080px) {
  .container {
    max-width: 1080px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 760px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}

.header {
  margin: 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__item__firstchild {
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  line-height: 1.27;
  font-weight: 700;
  margin: 0 15px;
  cursor: pointer;
  border: none;
}

.header__item__secondchild {
  font-size: 14px;
  line-height: 1.36;
  font-weight: 600;
  color: #252A34;
  margin: 0 15px;
}

.span1 {
  color: #252A34;
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  line-height: 1.27;
  font-weight: 700;
  cursor: pointer;
}

.span2 {
  text-transform: uppercase;
  color: #FF2E63;
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  line-height: 1.27;
  font-weight: 700;
  cursor: pointer;
}

.list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0;
}

.list__item {
  margin: 0 15px;
  cursor: pointer;
  padding: 10px 0;
  text-decoration: none;
  color: #252A34;
}

.link {
  width: 100%;
  margin: 0;
  text-decoration: none;
  color: #252A34;
  padding: 10px;
}

.link__footer {
  width: 100%;
  margin: 0;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.burger {
  display: none;
}

.burger:checked ~ .header__nav {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.burger_label {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
}

.burger_line {
  width: 80%;
  height: 3px;
  background: #000;
}

@media (max-width: 1080px) {
  .burger_label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav {
    max-height: 100vh;
    overflow: auto;
    position: absolute;
    background-color: #fff;
    width: 100vw;
    top: 50px;
    left: 0;
    z-index: 1;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header__list {
    height: auto;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__list__item {
    display: block;
    margin: 10px 0;
  }
  .link {
    padding: 5px;
  }
}

.title__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__arrow {
  color: #FF2E63;
  width: 7%;
}

@media (max-width: 760px) {
  .shop__arrow {
    display: none;
  }
}

.link__text {
  width: 100%;
}

.list__item:hover, .link:hover {
  background-color: #FF2E63;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.list__item__active {
  font-weight: 900;
  font-style: bold;
}

.header__item__thirdchild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1080px) {
  .header__item__thirdchild {
    display: none;
  }
}

.btn1 {
  background-color: #fff;
  border: none;
  color: #FF2E63;
  cursor: pointer;
  width: 30%;
  padding: 10px;
  text-align: center;
  margin: 0 15px;
  font-weight: 600;
  font-size: 16px;
}

.btn1:hover {
  color: #FF2E63;
  border: 3px dotted #FF2E63;
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  padding: 7px;
}

.btn2 {
  background-color: #FF2E63;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 10px 23px;
  line-height: 1.36;
  font-weight: 600;
  font-size: 16px;
  margin: 0 auto;
}

.btn2:hover {
  background-color: #fff;
  color: #FF2E63;
  -webkit-box-shadow: inset 0 0 0 3px;
          box-shadow: inset 0 0 0 3px;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15% 5% 5%;
  width: 100%;
}

@media (max-width: 1600px) {
  .section1 {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (max-width: 1080px) {
  .section1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.block__h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.h1 {
  margin-top: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2.78em;
  line-height: 1.2;
  font-weight: 700;
}

.h1__span1 {
  color: #343434;
}

.h1__span2 {
  color: #FF2E63;
}

.btn3 {
  background-color: #346CD9;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 760px) {
  .btn3 {
    display: none;
  }
}

.btn3:hover {
  background-color: #fff;
  color: #FF2E63;
  -webkit-box-shadow: inset 0 0 0 3px;
          box-shadow: inset 0 0 0 3px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

@media (max-width: 320px) {
  .banner {
    max-width: 320px;
  }
}

.img1 {
  max-width: 90%;
}

.elipse {
  width: 50%;
  height: 33em;
  border-radius: 50%;
  position: absolute;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(249, 250, 250, 0.911)), to(rgba(162, 177, 209, 0.3)));
  background: linear-gradient(to right bottom, rgba(249, 250, 250, 0.911), rgba(162, 177, 209, 0.3));
  margin-right: -15em;
  margin-top: -5em;
  z-index: -1;
}

.section2, .section3, .section5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 5% 5%;
}

.h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 2em;
  line-height: 1.28;
  font-weight: 700;
  color: #343434;
  width: 100%;
}

.avto__list, .howwork__list, .shop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -15px;
  border-radius: 20px;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.avto__item, .shop__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  margin: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: calc(25% - 30px);
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  min-width: 260px;
  position: relative;
  padding-bottom: 10px;
}

.avto__item:hover {
  margin: 15px;
  width: calc(25% - 30px);
  -webkit-box-shadow: 0 0 7px 10px rgba(255, 46, 99, 0.5);
          box-shadow: 0 0 7px 10px rgba(255, 46, 99, 0.5);
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 760px) {
  .avto__item:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.shop__item:hover {
  margin: 15px;
  width: calc(30% - 30px);
  -webkit-box-shadow: 0 0 7px 10px rgba(255, 46, 99, 0.5);
          box-shadow: 0 0 7px 10px rgba(255, 46, 99, 0.5);
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 760px) {
  .shop__item:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.car__image {
  position: relative;
  width: 100%;
  padding-top: 60%;
}

.img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.img:hover {
  opacity: 1;
}

.avto__item__h3, .filter__h3, .h3 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.1em;
  line-height: 1.28;
  font-weight: 700;
  color: #343434;
  margin-left: 5%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  word-wrap: break-word;
  overflow: hidden;
  margin-bottom: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.block__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.67em;
  line-height: 1.28;
  font-weight: 700;
  word-wrap: break-word;
  overflow: hidden;
}

.block__price__new {
  color: #FF2E63;
}

.block__price__now {
  color: #252A34;
}

.block__price__old {
  color: #252A34;
  font-weight: 500;
  font-size: 0.67em;
  margin-left: 10px;
  text-decoration: line-through;
}

.block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  word-wrap: break-word;
  overflow: hidden;
  margin: 0;
}

.block__link1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  word-wrap: break-word;
  overflow: hidden;
}

.block__link__text {
  color: #343434;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  padding-left: 22px;
  margin-top: 2px;
  padding-right: 40px;
}

.block__link__arrow {
  background-color: #346CD9;
  color: #fff;
  margin: 0;
  border-radius: 20px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 4em;
  width: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section3__h2 {
  text-align: center;
}

.howwork__list__item {
  text-align: center;
  margin: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: calc(25% - 120px);
  overflow: hidden;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 250px;
}

.list__img {
  max-width: 64px;
  max-height: 64px;
}

.list__img:hover {
  opacity: 0.5;
}

.block__text {
  font-size: 16px;
  font-weight: 400;
}

.h4 {
  font-size: 0.89em;
  font-weight: 700;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  word-wrap: break-word;
  overflow: hidden;
  margin-bottom: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.btn4 {
  cursor: pointer;
  max-height: 30px;
  opacity: 0.8;
}

@media (max-width: 1600px) {
  .btn4 {
    display: block;
  }
}

@media (max-width: 1080px) {
  .btn4 {
    display: none;
  }
}

.btn4:hover {
  background-color: #FF2E63;
  color: #FF2E63;
  -webkit-box-shadow: inset 0 0 0 3px;
          box-shadow: inset 0 0 0 3px;
  border-radius: 10px;
  opacity: 1;
}

.arrow {
  padding: 10px;
  text-align: center;
  top: 60%;
}

.section4 {
  margin: 0;
  padding: 5% 0;
}

.section4__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-height: 35em;
}

.list__image {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section4__block__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: rgba(52, 108, 217, 0.12);
  width: 50%;
}

.h5 {
  padding: 15% 20%;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.5;
}

.p2 {
  font-size: 0.89em;
  font-weight: 400;
  line-height: 1.88;
}

.footer {
  margin: 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #346CD9;
  color: #fff;
}

@media (max-width: 992px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__item__firstchild {
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  line-height: 1.27;
  font-weight: 700;
  margin: 0 15px;
  text-transform: uppercase;
}

.header__item__secondchild {
  font-size: 14px;
  line-height: 1.36;
  font-weight: 600;
  margin: 0 15px;
}

@media (max-width: 992px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.shop__list {
  overflow-y: scroll;
}

.shop__item {
  width: calc(30% - 30px);
}

.shop__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 5% 5%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #252A34;
}

.shop__change {
  width: calc(22% - 30px);
  padding: 20px;
  min-width: 300px;
}

.shop__block {
  width: calc(66% - 30px);
}

.shop__list {
  max-height: 800px;
}

.accordion, .brand {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.accordion__item {
  border-top: 1px solid #ddd;
  position: relative;
}

.accordion__item:last-child {
  border-bottom: 1px solid #ddd;
}

.filter {
  width: 100%;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}

.filter__h3 {
  margin: 0;
  padding: 0.5em 0;
}

.accordion__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  text-align: start;
}

.price__filter {
  width: 40%;
  font-size: 14px;
  font-weight: 400;
}

.price__filter1 {
  width: 5%;
}

.price__input {
  border-radius: 5px;
  opacity: 0.8;
  width: 100%;
  text-align: center;
  cursor: pointer;
  height: 35px;
  font-size: 15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.accordion__toggle {
  width: 100%;
  height: 2.1em;
  font-size: 1.5em;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.accordion__arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #252A34;
  cursor: pointer;
}

.accordion__toggle:checked ~ .accordion__title .accordion__arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #252A34;
  cursor: pointer;
  border-top: 0;
}

.accordion__toggle:checked ~ .accordion__content {
  padding-top: 1em;
  max-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  padding-bottom: 1em;
}

.brand {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 15px;
  font-weight: 400;
}

.brand__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.brand__input {
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin: 0;
  opacity: 0;
}

.brand__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  position: relative;
  width: 90%;
}

.checkbox__item {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #343434;
}

.brand__input:checked {
  opacity: 0;
}

.brand__input:checked + .checkbox__item {
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4C0 1.79086 1.79086 0 4 0H16C18.2091 0 20 1.79086 20 4V16C20 18.2091 18.2091 20 16 20H4C1.79086 20 0 18.2091 0 16V4Z' fill='%23346CD9'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.75 6C13.405 6 13.0925 6.14 12.8663 6.36625L11.6163 7.61625L8.75 10.4825L7.13375 8.86625C6.9075 8.64 6.595 8.5 6.25 8.5C5.56 8.5 5 9.06 5 9.75C5 10.095 5.14 10.4075 5.36625 10.6337L7.86625 13.1337C8.0925 13.36 8.405 13.5 8.75 13.5C9.095 13.5 9.4075 13.36 9.63375 13.1337L13.3837 9.38375L14.6337 8.13375C14.86 7.9075 15 7.595 15 7.25C15 6.55937 14.44 6 13.75 6Z' fill='white'/%3E%3Cpath d='M4 1H16V-1H4V1ZM19 4V16H21V4H19ZM16 19H4V21H16V19ZM1 16V4H-1V16H1ZM4 19C2.34315 19 1 17.6569 1 16H-1C-1 18.7614 1.23858 21 4 21V19ZM19 16C19 17.6569 17.6569 19 16 19V21C18.7614 21 21 18.7614 21 16H19ZM16 1C17.6569 1 19 2.34315 19 4H21C21 1.23858 18.7614 -1 16 -1V1ZM4 -1C1.23858 -1 -1 1.23858 -1 4H1C1 2.34315 2.34315 1 4 1V-1Z' fill='%23346CD9'/%3E%3C/svg%3E%0A");
  border: none;
}

.brand__name {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  line-height: 2em;
}

.brand__name__text {
  text-align: left;
  width: 100%;
}

.link__title {
  text-decoration: none;
  color: #343434;
}

.list__item__footer {
  color: #fff;
}

.icon-checkmark2:before {
  content: "\ea11";
  display: none;
}

.brand__input:checked + .checkbox__item .icon-checkmark2:before {
  content: "\ea11";
  font-size: 25px;
  text-align: center;
  color: #fff;
  display: block;
}

.search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 10px;
}

.search__title {
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
}

.search__input {
  height: 35px;
  border-radius: 5px;
  opacity: 0.8;
}

.contacts {
  padding: 10px 0;
  font-size: 14px;
  line-height: 1.29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__p__text {
  font-weight: 700;
}

.contacts__img {
  margin-right: 10px;
}

.contacts__link {
  cursor: pointer;
  text-decoration: none;
  color: #252A34;
}

.contacts__link:hover {
  border-bottom: 3px solid rgba(245, 3, 64, 0.2);
  border-radius: 1px;
  color: #FF2E63;
}

.frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frame__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration {
  text-align: center;
}

.registration__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  width: 100%;
}

.registration__h2__p {
  margin: 0 30px;
  font-family: "Rajdhani", sans-serif;
  color: #343434;
  font-size: 50px;
  line-height: 1.2;
}

hr {
  margin: 0 40px;
}

.register__container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  font-size: 14px;
  line-height: 1.36;
  font-weight: 400;
}

.register__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.register__name, .register__password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  width: 100%;
}

.register__name__item, .register__password__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 245px;
}

.register__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  width: 500px;
}

.register__gender {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register__button {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  text-align: center;
}

.input__form {
  height: 35px;
  border-radius: 5px;
  opacity: 0.7;
  color: #999999;
  margin-top: 10px;
}

.input__form2 {
  height: 20px;
  width: 20px;
}

.lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  position: relative;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  font-size: 14px;
  line-height: 1.36;
  font-weight: 400;
}

.forgot__password {
  padding: 5px;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 600;
          perspective: 600;
  position: relative;
}

.registration__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  white-space: nowrap;
  background-color: #fff;
}

.registration__h2 > a {
  display: inline-block;
  text-decoration: none;
  padding: 6px 10px;
  text-align: center;
}

.registration__h2 > a:hover, .registration__h2 > a:target {
  border-bottom: #FF2E63 5px solid;
  padding-bottom: 1px;
  margin-bottom: -2px;
}

.tabs > #register:target ~ .registration__h2 > a[href="#register"],
.tabs > #login:target ~ .registration__h2 > a[href="#login"] {
  cursor: default;
}

.tabs > div:not(.registration__h2) {
  display: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
  }
}

.tabs > div {
  display: block;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.tabs > div:target {
  display: block;
  -webkit-animation: pulse 1s linear 0s;
          animation: pulse 1s linear 0s;
}

.link__target {
  text-decoration: none;
  color: #FF2E63;
  width: 100%;
}

.link__target2 {
  color: #fff;
}

.link__target2:hover {
  color: #FF2E63;
}

.main__register {
  min-height: calc(100vh - 12em);
}

.span__link {
  color: #346CD9;
  cursor: pointer;
}

.login__check {
  margin-top: 20px;
}

.radio__item {
  height: 20px;
  width: 20px;
  position: absolute;
  top: center;
  left: 0;
  z-index: -1;
  background-color: #fff;
  border: 1px solid #343434;
  border-radius: 50%;
}

.brand__input:checked + .radio__item {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23346CD9'/%3E%3Ccircle cx='10' cy='10' r='4' fill='white'/%3E%3C/svg%3E%0A");
  border: none;
}
/*# sourceMappingURL=style.css.map */