*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}
body {
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.header {
    margin: 2% auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1170px;
    align-items: center;
    max-height: 60px;
    height: 100%;
}
.header__item__firstchild {
    font-family:'Rajdhani', sans-serif;
    font-size: 30px;
    line-height: 1.27;
    font-weight: 700;
}
.header__item__secondchild {
    font-size: 14px;
    line-height: 1.36;
    font-weight: 600;
    color: #252A34;
    margin: 0 auto;
} 
.span1 {
    color: #252A34;
}
.span2 {
    text-transform: uppercase;
    color: #FF2E63;
}
.nav {
    margin: 0;
}
.list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding: 0;
}
.list__item {
    margin: 0 15px;
    cursor: pointer;
    padding: 10px;
}
.list__item:hover {
    background-color: #FF2E63;
    border-radius: 10%;
    color: #fff;
}
.list__item__active {
    font-weight: 900;
    font-style: bold;
}
.header__item__thirdchild {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    font-size: 16px;
    line-height: 1.36;
    align-items: center;
}
.btn1 {
    background-color: #fff;
    border: none;
    color: #FF2E63;
    cursor: pointer;
    width: 45%;
    padding: 10px;
    text-align: center;
    margin: 0 3%;  
}
.btn1:hover {
    color: #FF2E63;
    border: 3px dotted #FF2E63;
	background: rgba(0,0,0,0);
    border-radius: 10%;
    cursor: pointer;
    padding: 10px 7px;
}
.btn2 {
    background-color: #FF2E63;
    color: #fff;
    border-radius: 10%;
    cursor: pointer;
    border: none;
    padding: 10px;
}
.btn2:hover {
    background-color: #fff;
    color: #FF2E63;
    box-shadow: inset 0 0 0 3px;
}
.main {
    margin: 20% auto;
    width: 100%;
    max-width: 1170px;
}
.section1 {
    display: flex;
    margin: 10% 0;
    justify-content: space-between;
}
.block__h1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.h1 {
    margin-top: 0;
    flex-shrink: 0;
    font-family:'Rajdhani', sans-serif;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
}
.h1__span1 {
    color: #343434;
}
.h1__span2 {
    color: #FF2E63;
}
.btn3 {
    background-color: #346CD9;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}
.btn3:hover {
    background-color: #fff;
    color: #FF2E63;
    box-shadow: inset 0 0 0 3px;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
.img1 {
    max-width: 100%;    
}
.elipse {
    max-width: 50%;
    width: 23rem;
    height: 33rem;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to right bottom, rgba(249, 250, 250, 0.911), rgba(162, 177, 209, 0.3));
    margin-right: -15em;
    margin-top: -5em;
    z-index: -1;
}
.section2, .section3, .section5 {
    display: flex;
    flex-direction: column;
    margin: 10% 0;   
}
.h2 {
    font-family:'Rajdhani', sans-serif;
    font-size: 36px;
    line-height: 1.28;
    font-weight: 700;
    color: #343434;
    width: 100%;
}
.avto__list, .howwork__list {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
    border-radius: 10px;
    overflow: hidden;
    flex-wrap: wrap; 
}
.avto__item {
    margin: 15px;
    flex-grow: 1;
    width: calc(25% - 30px);
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.avto__item:hover {
    margin: 15px;
    flex-grow: 1;
    width: calc(25% - 30px);
    box-shadow: 0 0 7px 10px rgba(255, 46, 99, 0.5);
    border-radius: 10px;
    cursor: pointer;
}
.img {
    width: 100%;
    opacity: 0.9;
    object-fit: cover;
    max-height: 200px;
    object-position:center;
}
.img:hover {
    opacity: 1;
}
.avto__item__h3 {
    font-family:'Rajdhani', sans-serif;
    font-size: 20px;
    line-height: 1.28;
    font-weight: 700;
    color: #343434;
    margin-left: 5%;
    padding-bottom: 10%;
    align-items: flex-start;
    max-height: 52px;
    word-wrap: break-word;
    overflow: hidden;
}
.block__price {
    display: flex;
    align-items: center;
    margin-left: 5%;
    font-family:'Rajdhani', sans-serif;
    font-size: 30px;
    line-height: 1.28;
    font-weight: 700;
    word-wrap: break-word;
    overflow: hidden;
}
.block__price__new {
    color: #FF2E63;
}
.block__price__now {
    color: #252A34;
}
.block__price__old {
    color: #252A34;
    font-weight: 500;
    font-size: 20px;
    margin-left: 10px;
    padding-top: 10px;
    text-decoration: line-through;
}
.block__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
    overflow: hidden;
}
.block__link__text {
    color: #343434;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    margin-left: 10px;
}
.block__link__arrow {
    background-color: #346CD9;
    color: #fff;
    text-align: center;
    padding: 24px 20px;
    margin: 0;
    border-radius: 10px 0;
}
.h3 {
    padding: 0;
}
.section3__h2{
    text-align: center;
}
.howwork__list__item {
    text-align: center;
    margin: 15px;
    flex-grow: 1;
    width: calc(25% - 120px);
    overflow: hidden;
    cursor: pointer;
    align-items: center;
}
.list__img{
    max-width: 64px;
    max-height: 64px;
}
.list__img:hover{
    opacity: 0.5;
}
.block__text{
    font-size: 16px;
    font-weight: 400;
}
.h4{
    font-size: 16px;
    font-weight: 700;
}
.btn4{
    border: none;
    background-color: #fff;
    width: 30px;
    cursor: pointer;
    max-height: 30px;
    color:#585858;
}
.btn4:hover {
    background-color: #fff;
    color: #FF2E63;
    box-shadow: inset 0 0 0 3px;
    border-radius: 10px;
}
.section4 {
    margin: 10% -5%;
}
.section4__block {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.list__image {
    width: 100%;
    max-width: 640px;
    max-height: 400px;
    object-fit: cover;
}
.section4__block__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    background-color: rgba(52, 108, 217, 0.12);
}
.p1 {
    padding: 10% 20%;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}
.p2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
}